# stats
numpy
pandas
scipy
scikit-learn
scikit-image
pingouin
opencv-python
statsmodels

ideas-public-python-utils @ git+https://github.com/inscopix/ideas-public-python-utils.git@bbed2f8005b31a300ada0fb9d84d52d147f1deac

# plotting
matplotlib
plotly
seaborn
bokeh

# io
pyarrow
h5py
tifffile
imageio
imageio-ffmpeg
Pillow

# neuro
isx
pynwb
pynapple

# test
pytest

# other stuff that might need cleanup
beartype
configobj
