name: pull-request

on:
  push:
    branches: ["main"]
  pull_request:
    # trigger all branches
jobs:
  pull-request-checks:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - run: make test
